.chatPanel {
  float: right;
  width: 940px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.sendBtn {
  position: absolute;
  right: 50px;
  bottom: 14px;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #0aa732;
  color: #fff;
}

.chatBubbleContainer {
  display: block;
  height: 100px;
}

.chatSection {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: scroll;
  background: url("./background.jpg") right top;
  background-size: cover;
  height: 85vh;
}

.chatBubble {
  float: left;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: rgb(179, 230, 103);
  margin: 1rem 3px;
  color: rgb(0, 0, 0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.userChatBubble {
  float: right;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: rgb(187, 184, 184);
  color: rgb(24, 14, 14);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.userBar {
  border-left: 1px solid gray;
  background-color: #046a62;
  padding: 8px 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.userAddModal {
  position: absolute;
  z-index: 99;
  top: 75px;
  bottom: 100px;
  right: 20px;
  width: 400px;
  background-color: #09991a;
  font-size: 17px;
  padding: 1rem;
  color: #fff;
  overflow: scroll;
}

.userAddModal input {
  padding: 0.3rem 1.6rem;
  border-radius: 20px;
  background-color: #0aa732;
  border: none;
  outline: none;
  color: #fff;
}

.userAddModal small {
  display: block;
  font-size: 12px;
}

.users {
  border-bottom: 1px solid white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users:hover {
  background-color: #058725;
}

.userInfo {
  flex: 1;
}

.threeDots {
  cursor: pointer;
  text-align: right;
  background-color: #0cc43a;
  padding: 5px 9px;
  border-radius: 10px;
  margin: 0.5rem;
}

.me {
  float: right;
  background-color: rgb(179, 230, 103);
}

.user {
  float: left;
}

.userImgContainer {
  display: inline-block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 5px 10px;
}

.userImgContainer img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}
