.formContainer {
  position: absolute;
  top: 20%;
  left: 20%;
  padding: 2rem 1rem;
  border-radius: 20px;
  width: 400px;
  background: #08a12f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b6fbff,
    #0aa443
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b6fbff,
    #0cc443
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: 600;
  display: block;
  margin: 4px 0;
}

.input {
  border: 0;
  padding: 12px 8px;
  border-radius: 0.45rem;
  outline: none;
  width: 300px;
}

.submit {
  padding: 10px 8px;
  border: 0;
  border-radius: 20px;
}

.background {
  background: url("./background.jpg") repeat;
  object-fit: contain;
  width: 100vw;
  height: 100vh;
}
